{% extends 'accounts/base.html' %}
{% load static %}

{% block 'title' %} <title>Get Reset Link</title>{% endblock %}
{% block 'main_content' %}

<div class="pass-container">
    <div class="reset-form-container">
        <img src="{% static 'images/reset-side.jpg' %}" alt="">
        <div class="reset-form">
            <h3 class="title">Password Reset</h3>
            <form method="POST" >
                {% csrf_token %}
                <div class="text-input">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" name="email" placeholder="Your email">
                </div>
                <button class="login-btn" type="submit">Get Link</button>
            </form>
            <div class="create">
                <i class="fa-solid fa-arrow-left"></i>
                <a href="{% url 'login' %}">Go Back</a>
            </div>
        </div>
    </div>
</div>

{% endblock %} 