{% extends 'accounts/base.html' %}
{% load static %}

{% block 'title' %} <title>New Password</title>{% endblock %}
{% block 'main_content' %}

<div class="pass-container">
    <div class="reset-form-container">
        <img src="{% static 'images/reset-food.jpg' %}" alt="">
        <div class="reset-form">
            <h3 class="title">Password Reset</h3>
            <form name="signup_form" method="POST" onsubmit="return validateForm()">
                {% csrf_token %}
                <div class="text-input">
                    <input type="hidden" name="user_id" value="{{user_id}}" required>
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" id="id_pass1" name="password1" placeholder="New Password" required>
                </div>
                <div class="text-input">
                    <i class="fa-solid fa-key"></i>
                    <input type="password" id="id_pass2" name="password2" placeholder="Confirm New Password" required>
                </div>
                <button class="login-btn" type="submit">Reset</button>
            </form>
        
            <label class="pass_check"><input type="checkbox" onclick="toggle_pass()">show password</label>
            <div class="create">
                <i class="fa-solid fa-arrow-left"></i>
                <a href="{% url 'login' %}">Go Back</a>
            </div>
        </div>
    </div>
</div>

{% endblock %} 